{% extends "layout.html" %}

{% block body %}
    <section class="hero is-small is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    rescan
                </h1>

                <p class="subtitle">
                    Finally, a search engine for devices
                    <br>
                    We scan the internet for fun, <strong>not profit</strong>
                </p>
            </div>
        </div>
    </section>

    <br>

    <section class="section">
        <h1 class="title">Recent Datasets</h1>

        <nav class="level">

            {% for port, data in cache.items() %}
                <div class="level-item has-text-centered">
                    <div>

                        <p class="heading">
                            {{ port }}
                            <span class="tag is-info is-light">TCP</span>
                        </p>

                        <span>
                            <h1 class="title">{{ data['formattedLines'] }}</h1>
                            Devices
                        </span>

                        <br><br>

                        <a href="/port/{{ port }}" class="button is-info is-light">
                            <span class="icon is-small">
                                <i class="fas fa-info"></i>
                            </span>

                            <span>Info</span>
                        </a>

                        <a href="/get/{{ port }}" class="button is-link is-light">
                            <span class="icon is-small">
                                <i class="fas fa-download"></i>
                            </span>

                            <span>Get All</span>
                        </a>

                    </div>
                </div>

            {% endfor %}

        </nav>
    </section>


{% endblock %}