{% extends "layout.html" %}

{% block body %}
    <section class="section">
        <div class="content">
            <h1 class="title">Port {{ port }} / TCP</h1>

            <span class="subtitle">
                <p>{{ data['formattedSize'] }}</p>
                <p>{{ data['formattedLines'] }} Servers</p>
            </span>
        </div>  
        
        <a href="/get/{{ port }}" class="button is-link is-light">
            <span class="icon is-small">
                <i class="fas fa-download"></i>
            </span>

            <span>Get All Data</span>
        </a>
    </section>
{% endblock %}